<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MovieWebsite</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MovieWebsite</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="Index">Movie</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
						</li>
					</ul>
				</div>
			</div>

			<label class="switch">
				<input class="switch-input" type="checkbox" />
				<span class="switch-label" data-on="On" data-off="Off"></span>
				<span class="switch-handle"></span>
			</label>

			<div class="container">

				@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "ui large form" }))
				{
					<input type="text" name="search" id="search" placeholder="search" />
					<input type="submit" />
				}
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2020 - MovieWebsite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
	@RenderSection("Scripts", required: false)

	<script>
		$(function () {
			var global_tags;
			function split(val) {
				return val.split(/,\s*/);
			}
			function extractLast(term) {
				return split(term).pop();
			}

			$("#search")
				// don't navigate away from the field on tab when selecting an item
				.on("keydown", function (event) {
					if (event.keyCode === $.ui.keyCode.TAB &&
						$(this).autocomplete("instance").menu.active) {
						event.preventDefault();
					}
				})
				.autocomplete({
					minLength: 0,
					source: function (request, response) {

						$.ajax({
							type: "GET",
							url: "Home/getTags",
							data: { searchString: request.term },
							contentType: "application/json;charset=utf-8",
							dataType: "json",
							success: function (result) {
								//alert(result);
								response(result)
							},
						});

					},
					//focus: function () {
					//    // prevent value inserted on focus
					//    return false;
					//},
					select: function (event, ui) {
						var terms = split(this.value);
						// remove the current input
						terms.pop();
						// add the selected item
						terms.push(ui.item.value);
						// add placeholder to get the comma-and-space at the end
						terms.push("");
						this.value = terms.join(", ");
						return false;
					}
				});

		});
	</script>
</body>
			<style>
				/*  Slider
			-------------------------------------------------*/
				.switch {
					position: relative;
				display: block;
				vertical-align: top;
				width: 150px;
				height: 30px;
				padding: 3px;
				margin: 0 10px 10px 0;
				background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
				background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
				border-radius: 18px;
				box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
				cursor: pointer;
				box-sizing: content-box;
			}

				.switch-input {
					position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				box-sizing: content-box;
			}

				.switch-label {
					position: relative;
				display: block;
				height: inherit;
				font-size: 10px;
				text-transform: uppercase;
				background: #eceeef;
				border-radius: inherit;
				box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
				box-sizing: content-box;
			}

					.switch-label:before, .switch-label:after {
					position: absolute;
				top: 50%;
				margin-top: -.5em;
				line-height: 1;
				-webkit-transition: inherit;
				-moz-transition: inherit;
				-o-transition: inherit;
				transition: inherit;
				box-sizing: content-box;
			}

					.switch-label:before {
					content: attr(data-off);
				right: 11px;
				color: #aaaaaa;
				text-shadow: 0 1px rgba(255, 255, 255, 0.5);
			}

					.switch-label:after {
					content: attr(data-on);
				left: 11px;
				color: #FFFFFF;
				text-shadow: 0 1px rgba(0, 0, 0, 0.2);
				opacity: 0;
			}

				.switch-input:checked ~ .switch-label {
					background: #E1B42B;
				box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
			}

					.switch-input:checked ~ .switch-label:before {
					opacity: 0;
			}

					.switch-input:checked ~ .switch-label:after {
					opacity: 1;
			}

				.switch-handle {
					position: absolute;
				top: 4px;
				left: 4px;
				width: 28px;
				height: 28px;
				background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
				background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
				border-radius: 100%;
				box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
			}

					.switch-handle:before {
					content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -6px 0 0 -6px;
				width: 12px;
				height: 12px;
				background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
				background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
				border-radius: 6px;
				box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
			}

				.switch-input:checked ~ .switch-handle {
					left: 41px;
				box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
			}

			/* Transition
		========================== */
				.switch-label, .switch-handle {
					transition: All 0.3s ease;
				-webkit-transition: All 0.3s ease;
				-moz-transition: All 0.3s ease;
				-o-transition: All 0.3s ease;
			}
		</style>
</html >